/* THE DIV TO TABLE TECHNIQUE */

#fow17_container {
    width: 80%;
    padding:0;
    display: table;
    border: 1px solid black;
    }

#fow17_row  {
    display: table-row;
    }

#fow17_left {
    width:150px;
    padding:0;
    background: #EEF;
    display: table-cell;
    background:yellow url("red.gif") top left repeat-y;
    }

#fow17_right {
    width:150px;
    background:#FEE;
    display: table-cell;
    background:#FEE url("blue.gif") top right repeat-y;
    }

#fow17_middle {
    padding: 10px;
    background:yellow;
    display: table-cell;
    }

/* ROUNDED CORNERS TECHNIQUE */

#fow17_rcorners {
    border-radius: 25px;
    background: #42b3f4;
    border: 1px solid #000;
    padding: 20px; 
    width: 600px;
    height: 135px; 
}

/* OTHER STUFF */

img.meow {
    border: 1px solid #000;
    height:150px;
    width:150px;
    max-height:150px;
    max-width:150px;
}

img.meow2{
    height:150px;
    width:20px;
}

table.fow17_staff{
  padding: 0px;
  border: 0px;
  background: #42b3f4;
}

.staffname .staffjob
{
    display: inline-block;
}

.staffname {
  margin: 0px;
	padding: 0px;
	top: -38px;
	text-align: left;
}

.staffjob {
	margin: 0px;
	padding-left: 10px;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.staffdesc {
	padding: 0px;
	margin: 0px;
	text-align: left;
}
